
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Edit New User</p>
        <a href="/" class="btn btn-primary">Home</a>
        <a href='/data/list/<%= student._id %>' class="btn btn-secondary">List Data</a>
        
      </div>
</div>
</div>


<table style="width:100%">
  <form action="/data/add/<%= student._id %>" method="POST">
    <div>  
      <% var count = 0 %>
      <tr>
        <th><%= `${student.firstName} ${student.lastName} `%></th>
        <% for(var behavior of student.behavior) { %>
        <th> <%= behavior.name %> </th>
        <% } %>
      </tr>
      <% for(var time of array) { %>
      <tr>
        <th><%= time %></th>
        <% for(var behavior of student.behavior) { %>
        <th>       
          <input
            type="<%= count %>"
            id="<%= count %>"
            name="<%= count %>"
            class="form-control"
            value= "<%= count %>"
          /> 
        </th>
        <% count++ %>
        <% } %>
      <% } %>
      <% count = 0 %>
      </tr>
      <tr>
        <th></th>
        <th>
          <select name="days">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
           </select>
        </th><th>
          <button type="submit" >Add Data</button></div>
        </th>
      </tr>
    </div>
  </form>
</table>